<mat-card>
  <mat-card-title>Register</mat-card-title>

  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <p *ngIf="error$ | async as errorMessage" class="error">
        {{ errorMessage }}
      </p>

      <div class="button">
        <a mat-button color="primary" routerLink="/login">Login</a>

        <button mat-button color="primary" type="submit" [disabled]="!registerForm.valid">
          <mat-spinner *ngIf="loading$ | async" [diameter]="20"></mat-spinner>
          <span
            *ngIf="(loading$ | async) === false || (loading$ | async) === null || (loading$ | async) === undefined">Register</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
